.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  width: 238px;
  height: 59px;
  padding: 16px 32px;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: var(--color-primary-light);
}

.button:disabled {
  cursor: not-allowed;
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
}
