.footer {
  padding: 32px 0;
  position: relative;
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // &::before {

  // }

  // @media screen and (min-width: $bp-tablet) {}
  &::before,
  &::after {
    position: absolute;

    background-repeat: no-repeat;
    content: "";
  }

  &::before {
    background-image: url("../../images/mobile-decor-bread-left.png");
    width: 92px;
    height: 196px;
    background-repeat: no-repeat;
    @media screen and (min-width: $bp-tablet) {
      background-image: url("../../images/decor-bread-small.png");
      bottom: 0;
      left: 0;
      width: 180px;
      height: 120px;
    }
  }

  &::after {
    bottom: -29px;
    width: 112px;
    height: 120px;
    right: 0;
    background-image: url("../../images/mobile-decor-bread-right.png");
    @media screen and (min-width: $bp-tablet) {
      bottom: 0;
      width: 378px;
      height: 187px;
      background-image: url("../../images/decor-bread-large.png");
    }
  }
  &__container {
    flex-direction: column;
    display: flex;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__menu {
    display: flex;

    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
  }
  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }

  &__address-icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
  }

  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__address-list,
  &__address-confidencial {
    flex-grow: 1;
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-confidencial {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__address-social-links {
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }
}
